.container{

    background: #c4c2c2;
    border: 5px  solid #000000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    border-radius: 50%;
}

input{
left: 50%;
}